body {
    background-color: #f5f5f5;
    font: 100% Roboto;
    margin: 0 auto;
}

a {
    color: #3183c9;
    text-decoration: none;
}

/******************************************************************************
 * Header  ********************************************************************
 ******************************************************************************/

.main-header {
    background: url('../images/books_header_bg.jpg');
    color: #fff;
    padding: 30px 0;
}

.site-branding {
    background: url('../images/books.MD_logo_icon.png') no-repeat 0 15px;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    width: 700px;
}

.site-branding h1 {
    color: #fff;
    font: 300 1.95rem/1.4 Roboto Slab;
    margin: 0 0 0 100px;
    padding: 0;
    text-align: left;
}

.site-branding h1 span {
    font-weight: 100;
}

.site-branding h2 {
    color: #6b8607;
    font: 400 1rem/1.4 Roboto;
    margin: 0 0 40px 100px;
    padding: 0;
    text-align: left;
}

/******************************************************************************
 * Search Box *****************************************************************
 ******************************************************************************/

.search {
    position: relative;

}

input {
    background: rgba(255, 255, 255, 0.45);
    border: 0;
    border-radius: 3px;
    color: #6b8607;
    display: inline-block;
    font: normal 1rem Roboto;
    padding: 15px;
    width: 99%;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: #6b8607;
    opacity: 0.5;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #6b8607;
    opacity: 0.5;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #6b8607;
    opacity: 0.5;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #6b8607;
    opacity: 0.5;
    ;
}

button {
    background-color: #fff;
    border: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #a7c932;
    padding: 12px 20px 15px;
    position: absolute;
    right: 0;
    top: 0;
}


/******************************************************************************
 * Navigation *****************************************************************
 ******************************************************************************/

nav {
    background-color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

nav li a {
    color: #808080;
}

nav li a.active,
nav li a:hover {
    color: #acc95c;
}


/******************************************************************************
 *  Main **********************************************************************
 ******************************************************************************/

.wrapper {
    position: relative;
}

main {
    font-family: Roboto;
    line-height: 1.8;
    padding-top: 20px;
}

main a {
    color: #3183c9;
    text-decoration: none;
}

section {
    margin: 20px auto;
    padding: 0;
    position: relative;
    width: 1200px;
}

section .wrapper {
    background-color: #fff;
    height: 473px;
}

.content {
    float: left;
    padding: 36px;
    position: relative;
    width: 768px;
}

.content h2 {
    font: 400 1.8rem Roboto;
    margin: 0;
}

.content header {
    background-image: none;
}

.content header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content header ul li {
    color: #aeaeae;
    display: inline-block;
    float: none;
    font-size: 0.8rem;
    margin: 0 10px;
}

.content header ul li.author {
    color: #000;
    margin: 0;
}

.author a {
    display: inline-block;
}

.btn {
    border-radius: 5px;
    display: block;
    padding: 0 10px;
}

.follow {
    border: 1px solid #a7c931;
    color: #a7c931;
}

.follow:hover {
    background-color: #a7c931;
    border: 1px solid #a7c931;
    color: #fff;
}

.summary {
    float: left;
    width: 55%;
}


/******************************************************************************
 * Rating *********************************************************************
 ******************************************************************************/

.rating {
    float: left;
}

.rating {
    border-left: 1px solid #e5e5e5;
    padding: 0 20px;
    width: 300px;
}

.rating ul:nth-child(2) {
    margin-top: 60px;
}

.rating ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.rating li {
    float: none;
    font-size: 0.8em;
}

.rating p {
    margin-bottom: 3px;
    padding-left: 10px;
    vertical-align: middle;
}

.rating li a {
    border-top: 1px solid #e5e5e5;
    color: #3183c9;
    display: block;
    font-size: 1rem;
    padding: 5px 0 5px 10px;
    text-align: left;
}

.rating li:first-of-type a {
    border-top: none;
}

.scale li div {
    position: relative;
}

.scale p {
    float: left;
    vertical-align: middle;
}

.easy p {
    color: #f7be26;
}

.comprehensive {
    color: #75c36a;
}

.examples {
    color: #5ac9e3;
}

p.amount {
    background-color: #fdd978;
    border-radius: 3px;
    font-size: 0.65em;
    left: 100px;
    padding: 0 1px 0 0;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 22px;
}

.amount:after {
    border-color: transparent #fdd978;
    border-style: solid;
    border-width: 0 0 10px 8px;
    bottom: -5px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 0;
}

.comprehensive p.amount {
    background-color: #abd8a5;
    color: #4f9546;
    left: 110px;
}

.comprehensive .amount:after {
    border-color: transparent #abd8a5;
}

.examples p.amount {
    background-color: #9ad6e8;
    color: #1a8aa4;
    left: 122px;
}

.examples .amount:after {
    border-color: transparent #9ad6e8;
}

.scale .percent {
    float: right;
}

.easy .percent {
    color: #f7be26;
}

.easy .amount {
    color: #bf8c02;
}

.progress-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 4px;
    line-height: 0;
    position: relative;
}

.progress-bar {
    border-radius: 5px;
    display: inline-block;
    height: 4px;
}

.easy .progress-bar {
    background-color: #f7be26;
}

.comprehensive .progress-bar {
    background-color: #75c36a;
}

.examples .progress-bar {
    background-color: #5ac9e3;
    line-height: 0;
}

.cover {
    float: right;
}


/******************************************************************************
 * Section Footer *********************************************************************
 ******************************************************************************/

section footer {
    background-color: transparent;
    border: 0;
    clear: both;
    margin: 25px 0 50px;
}

section footer ul {
    margin: 0;
    padding: 0;
}

section footer li {
    background-color: #333;
    border-radius: 3px;
    display: inline-block;
    height: 42px;
    margin: 0 15px;
    padding: 0 0 0 160px;
}

section footer li:first-of-type {
    margin-left: 0;
}

.price {
    background-color: #fff;
    color: #abd039;
    display: inline-block;
    height: 42px;
    line-height: 2;
    padding: 0 10px;
    border-left: 1px solid #e5e5e5;
    vertical-align: middle;
}

section footer li.download {
    padding: 0 60px;
    background-color: #a7c931; 
 
}

section footer li.download a {
    font-size: 1.15rem;
    color: #fff;
    vertical-align: middle;
}

section footer li:last-of-type {
    background-color: transparent;
    float: right;
    padding: 0;
}

.gumroad {
    background: url(../images/gumroad.jpg) no-repeat;
    vertical-align: middle;
}

.amazon {
    background: url(../images/amazon.jpg) no-repeat;
    vertical-align: middle;
}

section footer li.manning {
    padding:0;
    /*background: url(../images/manning.jpg) no-repeat;*/
}

div.publisher {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.manning p {
    font-size: .8rem;
    color: #ababab;
    width: 160px;
    margin: 0;
    line-height: .75rem
}
.manning p:last-of-type {
    font-size: 1rem;
    color: #abd039;
}

/******************************************************************************
 * Section Slideout ***********************************************************
 ******************************************************************************/

.slideout-overlay {
    background: rgba(224, 224, 224, 0.85);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.slideout {
    background-color: #fff;
    border: 2px solid #cbe9e7;
    border-radius: 2px;
    box-sizing: border-box;
    float: right;
    height: 100%;
    padding: 40px;
    position: relative;
    width: 700px;
}

.slideout input {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    font-size: 1rem;
    height: 48px;
    width: 100%;
}

.slideout span {
    color: #000;
}

span.search-highlight {
    background-color: #d5edd2;
    color: #000;
    display: inline-block;
    line-height: 1.5;
}

span.page {
    float: right;
    padding-right: 20px;
}

.slideout ul {
    height: 310px;
    list-style-type: none;
    margin-top: 30px;
    overflow: auto;
    padding: 0;
}

.slideout li {
    float: none;
    padding: 5px;
}


/* start scrollbar style */

.slideout ul::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.slideout ul::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-radius: 0;
    width: 2px;
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0;
}


/* Handle */

.slideout ul::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.slideout ul::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

.slideout-nav {
    position: absolute;
    right: -255px;
    top: 195px;
    transform: rotate(90deg);
}

.slideout-nav ul {
    padding: 0;
}

.slideout-nav li {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #47a2af;
    cursor: default;
    display: inline-block;
    float: none;
    padding: 10px 15px;
}

.slideout-nav li.active,
.slideout-nav li:hover {
    background-color: #cbe9e7;
}

.slideout-nav li.close,
.slideout-nav li.close:hover {
    background-color: transparent;
    color: #000;
}

.hidden {
    display: none;
}


/******************************************************************************
* Clear Fix ******************************************************************
******************************************************************************/

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
               
